@model Restaurant.Models.ViewModels.Restaurant.MealVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<br />


<div class="row">
    <div class="col-xs-12 col-md-4">
        <img src="~/Images/Uploads/Meals/@Model.Id/Thumbs/@Model.Image" alt="" />
    </div>
    <div class="col-xs-12 col-md-8">
        @Html.DisplayFor(model => model.Description)
        <br />
        £@Html.DisplayFor(model => model.Price)
        <br />
        @if (Request.IsAuthenticated) //Sets it so you have to be logged in to add meals to an order
        {
            <div class="addtoorder">
                <a href="#" class="addtoorder">Add to order</a>
            </div>
        }
    </div>
</div>
<hr />

@section Scripts{
    <script>        
        $(function () {

            $("a.addtoorder").click(function (e) {
                e.preventDefault();
                var url = "/mealorder/AddToOrderPartial"
                $.get(url, { id: @Model.Id}, function (data) {
                    $(".ajaxorder").html(data);
                })
            });
        });
    </script>
}