@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>Our History</h3>

<p>In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.</p>
    
<p>These men promptly escaped from a maximum security stockade to the Los Angeles underground.</p>
<p>Today, still wanted by the government, they've opened a restaurant.</p>
