@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    Le Restaurant <br />
    Funtington<br />
    Cheesemans Lane<br />
    Hambrook<br />

    <abbr title="Phone">T:</abbr>
    01234 567890
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:enquiries@le-restaurant.co.uk">enquiries@le-restaurant.co.uk</a><br />
</address>