@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Le Restaurant</h1>
    <p class="lead">Welcome to Le Restaurant, we're so great that we don't actually need a name, just a great big <strong>'Le'</strong>.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log in to order</h2>
        <p>
            Feel free to browse our menu.  Log in or register to order your meals.

        </p>
        <p><a class="btn btn-default" href="~/account/Login">Log in / Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book a table</h2>
        <p>Book a table for your visit. We look forward to seeing you.</p>
        <p><a class="btn btn-default" href="~/BookTable/Book-Table">Book a table &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in touch</h2>
        <p>Find out how to contact us.</p>
        <p><a class="btn btn-default" href="~/home/contact">Contact us &raquo;</a></p>
    </div>
</div>